body{
  font-family: 'Mitr', sans-serif;
  font-size: 28px;
  margin: 0px;
  padding: 0px;
  text-align: center;
  background-image: url(http://www.pageresource.com/wallpapers/wallpaper/cool-anonymous-hackers.jpg);
  color: white;
  background-repeat: no-repeat;
  background-size: cover;
}

body h1{
  font-size: 50px;
  letter-spacing: 15px;
  word-spacing: 25px;
  margin-bottom: 0px;
}

body .subHead{
  margin-top: 0px;
  margin-bottom: 30px;
}

body img{
  margin: 0px auto;
  width: 20%;
}

body section{
  float: left;
  margin: 20px;
  background-color: #191967;
  padding: 15px;
  border-radius: 10px;
}

.instructions{
  float: left;
  margin: 0px;
}

.inputField{
  clear: both;
  padding: 10px;
  font-size: 20px
}

.subBtn{
  clear: both;
  padding: 10px;
  font-size: 20px;
}

body aside{
  clear: both;
  padding: 40px;
  margin: 0px;
  background-color: #3d3d5c;
}

li .crossOut{
  text-decoration: line-through;
}
